# Data
/data
/src/tests/tmp

# Dependency directories
node_modules

# dotenv environment variables file
*.env
!/src/tests/suites/docker/docker.env
!/src/tests/test.env
!/src/tests/config/test.env

# Build / generate output
dist
coverage
.DS_Store
*.log
